# Environment variables for local development
ENV=development
REDIS_URL=redis://redis:6379
DATA_SAMPLE_DIR=data/sample
MODEL_DIR=models
LOG_LEVEL=INFO
APP_HOST=0.0.0.0
APP_PORT=8000
APP_NAME=StockForecastRisk
FINRA_CLIENT_ID=6825cc086e1a46c89f94
FINRA_CLIENT_SECRET=Duy23012007!
